@chareset "UTF-8";
.menu {
  width: 100%;
  position: fixed;
  top: 0px;
  z-index: 100;
  background: green;
  left: 0;
}

#menu_lists {
	list-style: none;
	margin-left: 10px;
}

#menu_lists > li {
	display: inline-block;
}

.main {
  width: 460px;
  margin: 0 auto;
  background: yellow;
}