<!DOCTYPE html>
<html>
<head>
  <title>My first SPA</title>
<script src="https://unpkg.com/vue/dist/vue.js"></script>
<script src="https://unpkg.com/vue-router/dist/vue-router.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</head>

<body>
<div id="app">
  <router-link to="/top">トップページ</router-link>
  <router-link to="/posts">記事一覧</router-link>
  <router-view></router-view>
</div>


<script type="x-template" id="post-list">
  <div>
    <div class="loading" v-if="loading">ロード中...</div>
    <div v-if="error" class="error">
      {{ error }}
    </div>
    <!-- postsがロードされたら各投稿のタイトルを表示する -->
    <div v-for="post in posts" :key="post.id">
      <h2>{{ post.title.rendered }}</h2>
    </div>
  </div>
</script>

<script type="text/javascript">
var response;
var axi = axios.create({
  baseURL: 'http://118.27.35.38/wordpress/wp-json/wp/v2/',
  timeout: 1000,
});

var data = axi.get('/posts', {
      params: {
        ID: 1
      }
    })
    .then(function (response) {
      console.log(response.data);
      return response.data;
    })
    .catch(function (error) {
      console.log(error);
      return null;
    });


var getposts = data;


var PostList = {
  // HTML上のscriptタグのidを指定する
  template: '#post-list',
  data: function () {
    return {
      loading: false,
      // 初期値の空配列を定義
      posts: function () { return [] },
      error: null
    }
  },

  // 初期化時にデータを取得する
  created: function () {
    this.fetchData()
  },

  // ルーティングが変更された時に再度データを取得するために$routeの変更をwatchする
  watch: {
    '$route': 'fetchData'
  },

  methods: {
    fetchData: function () {
      this.loading = true
      // 取得したデータの結果をpostsに格納する


      getposts((function (err, posts) {
        this.loading = false
        if (err) {
          this.error = err.toString()
        } else {
          this.posts = posts
        }
      }).bind(this))
    }
  }
}

 var router = new VueRouter({
    routes: [
      {
        path: '/top',
        component: {
          template: '<div>トップページです。</div>'
        }
      },
      {
        path: '/posts',
        component: PostList
      }
    ]
  })

  var app = new Vue({
    router: router
  }).$mount('#app')
  
</script>

</body>
</html>

